[Unit]
Description=Telegram Bot - testing for OWD and AOWD courses
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/tgBot-EDT
ExecStart=/opt/tgBot-EDT/startBot.sh
RestartSec=60
Restart=always

[Install]
WantedBy=multi-user.target
