[Unit]
Description=Telegram Bot - testing for OWD and AOWD courses
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/tg-diver_test_bot
ExecStart=/opt/tg-diver_test_bot/startBot.sh
RestartSec=60
Restart=always

[Install]
WantedBy=multi-user.target
